<ion-view view-title="MARTPLORE TECNOLOGIA: POSTOS">
    <ion-content class="padding">
        <button class="button button-positive" ng-click="loadCountries()">
           Mostrar Dados
        </button>
            <ion-item ng-repeat="country in countries">
                <div class="list">
                	<div class="item item-divider">
						 <label><center>Tanque 01 - Etanol</center></label>
						 <a class="item" href="#"> 
						   <img alt="" src="img/img1.png" width="25" height="25">&nbsp;{{country}}
						   <img alt="" src="img/temp1.png" width="25" height="25px">&nbsp;{{country}}
						  </a>
					</div>
	                
	                <div class="item item-divider">
		                <label><center>Tanque 02 - Gasolina Comum</center></label>
		                 <a class="item" href="#"> 
						   <img alt="" src="img/img2.png" width="25" height="25">&nbsp;{{country}}
						   <img alt="" src="img/temp1.png" width="25" height="25px">&nbsp;{{country}}
						</a>
					</div>
					
					<div class="item item-divider">
						<label><center>Tanque 04 - Diesel S10</center></label>
						<a class="item" href="#"> 
						   <img alt="" src="img/img3.png" width="25" height="25">&nbsp;{{country}}
						   <img alt="" src="img/temp1.png" width="25" height="25px">&nbsp;{{country}}
						</a>
					</div>
					
					<div class="item item-divider">
						<label><center>Tanque 04 - Diesel S10</center></label>
						<a class="item" href="#"> 
						   <img alt="" src="img/img4.png" width="25" height="25">&nbsp;{{country}}
						   <img alt="" src="img/temp1.png" width="25" height="25px">&nbsp;{{country}}
						</a>
					</div>
              </div> 
	        </ion-item> 
	        
	        
           
    </ion-content>
</ion-view>
